example_scenarios/ldv/**
example_scenarios/**/*.log
example_scenarios/**/log-run*
example_scenarios/**/log-warn*
example_scenarios/**/live-rundata*
example_scenarios/**/detailed-traj-run*
.nfs*
example_scenarios/**/log-err*
